textarea {
	width: 100%;
	display: block;
	border: 1px solid #cfd4db;
	border-radius: 4px;
	color: #4e6e8e;
	font-size: .9rem;
	padding: .5em;
	outline: none;
	transition: border-color .2s ease;
	resize: none;

	&:focus {
		border-color: #3eaf7c;
	}
}

button {
	margin: 8px 0;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	background-color: #3eaf7c;
	font-size: 1rem;
	padding: 0.4em 0.8em;
	border-radius: 4px;
	transition: background-color 0.1s ease;
	box-sizing: border-box;
	border: none;

	&:hover {
		background-color: #4abf8a;
	}
}